<!-- Template Reference Variable -->
<input type = "text" #input1 (keyup) ="getdata(input1.value)" placeholder ="Enter Your value" />   
<h2> The Value is - {{Display}} </h2>


<!-- Incrementing Count on Button Click   -->
<button (click) = "Buttonclick()">Click to Increase</button>
<h1>No of Clicks : {{Count}}</h1>


<!-- Applying Internal Style to HTML Element -->
<style>
  .Heading
  {
    color:brown;
    background-color: cadetblue;
  }
</style>
<h1 class = "Heading">Sujit Kumar Verma</h1>


<!-- Property binding -->
<input type="text" placeholder="Enter Your Name" [value]="Sujit" />


<!-- If Else Block Condition -->
<ng-container *ngIf="Show; then Ifblock else Elseblock"></ng-container>
<ng-template #Ifblock>
  <div>
    <h1>Company Amazon</h1>
  </div>
</ng-template>
<ng-template #Elseblock>
  <div>
    <h1>Company Google</h1>
  </div>
</ng-template>


<!-- Mulitple Contion (ElseIf) -->
<div *ngIf="color=='red'">
  <h1> Google </h1>
</div>
<div *ngIf="color=='green'">
  <h1> Amazon </h1>
</div>
<div *ngIf="color=='yellow'">
  <h1> Microsoft </h1>
</div>

<!-- Mulitple Contion (ElseIf) Using ng-template-->
<ng-template [ngIf]="color=='red'">
  <h1> Google </h1>
</ng-template>
<ng-template [ngIf]="color=='green'">
  <h1> Amazon </h1>
</ng-template>
<ng-template [ngIf]="color=='yellow'">
  <h1> Microsoft </h1>
</ng-template>


<!-- Switchcase Condition-->
<div [ngSwitch]="color">
  <h1 *ngSwitchCase="'green'">Google</h1>
  <h1 *ngSwitchCase="'red'">Amazon</h1>
  <h1 *ngSwitchCase="'yellow'">Salesforce</h1>
  <h1 *ngSwitchCase="'blue'">DE Shaw</h1>
  <h1 *ngSwitchDefault>DE Shaw</h1>
</div>


<!-- For Loop Condition -->
<h1>Sujit Kumar Verma</h1>
<h1 *ngFor="let items of Names"> Name is : {{items}}</h1>