.mainBox{
display: flex;
justify-content: center;
align-items: center;
margin-top: 140px;
}

.box{
border-radius: 5px;
background-color: aliceblue;
width: 300px;
height: 300px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box1{
  margin-top: 80px;
  background-color: darkblue;
  width: auto;
  height: 50px;
}

.box2{
  display: flex;
  justify-content: space-between;
}

.btn1{
  margin-top: 50px;
  background-color:green;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 70px;
  margin-left: 20px;
  font-size: 20px;
}

.btn2{
  margin-top: 50px;
  background-color:green;
  color: white;
  border-radius: 5px;
  padding: 10px;
  width: 70px;
  margin-right: 20px;
  font-size: 20px;
}
