<h1>{{Name}}</h1>
<h1>{{Company}}</h1>
<h1>{{Age}}</h1>
<app-user></app-user>
<app-look></app-look>
<app-student></app-student>
<app-child></app-child>

<!-- InterPolation --
Angular interpolation is used display a component property in the respective
view template with double curly braces syntax. ... Interpolation is used 
for one way data binding. Interpolation moves data in one direction from
our components to HTML elements. -->


<!-- Note --
What are the things that we can do with Interpolation
 1. We can solve Expression value in the Interpolation
    e.g - 
    {{Data}}
 2. We can not assign a value to a variable in the expression in the interpolation
    {{data = "Sujit Kumar Verma"}}   
 3. We can not perform increment/decrement operation in the interpolation.
    e.g  - {{data++}}
 4. We can not use typeof Operator in the Interpolation
    e.g - {{ data}typeof}
-->